!= partial("menuButton")
main.flex.justify-center.pa4.pa5-ns
  .mw7.tc
    img.w5.w-70-ns.pb4.pb5-ns(src="img/prices-title.png")
    for section in sections
      // Section Title.
      img.w-70.w-50-ns.pb4.pb5-ns(src="img/prices-#{ section.title }-title.png")
      for treatment, index in section.treatments
        .flex.w-100.pr1.pl1.pr3-ns.pl3-ns.tl(class=index === section.treatments.length - 1 ? "mb4 mb5-ns pb4 pb5-ns" : "mb3 mb4-ns pb3 pb4-ns bb b--gold")
          // Treatment Title.
          .flex-auto.flex.flex-column.f4.f1-ns.lh-copy !{ treatment.title }
          // Treatment Price.
          .flex-auto.flex.justify-end.abril-optimised
            if (!treatment.price)
              // Please Call.
              a.flex.flex-column.items-center.w-100(href="tel:01483725723")
                span.pb3-ns.f3.f1-ns.center PLEASE
                span.f3.f1-ns.center CALL
            else
              // £££.
              span.self-start.f3.f1-ns £
              span.self-baseline.flex.justify-end.f-5.f-6-ns(style="width: 1.25em") #{ treatment.price.pounds }
              if (treatment.price.pence !== '00')
                // Show Pence.
                span.self-baseline.f3.f1-ns .#{ treatment.price.pence }
    != partial("cancellationPolicy")
