!= partial("menuButton")
main.flex.justify-center.pa4.pa5-ns
  .mw7.tc
    img.w5.w-70-ns.pb4.pb5-ns(src="img/prices-title.png")
    for section in sections
      // Section Title.
      img.w-50-ns.pb4.pb5-ns(src="img/prices-#{ section.title }-title.png")
      for treatment, index in section.treatments
        .flex.w-100.pr3-ns.pl3-ns.tl(class=index === section.treatments.length - 1 ? "mb5-ns pb5-ns" : "mb4-ns pb4-ns bb b--gold")
          // Treatment Title.
          .flex-auto.flex.flex-column.f3.f1-ns.lh-copy !{ treatment.title }
          // Treatment Price.
          .flex-auto.flex.justify-end.abril-optimised
            if (!treatment.price)
              // Please Call.
              span.flex.flex-column.items-center.w-100
                span.pb3.f3.f1-ns.center PLEASE
                span.f3.f1-ns.center CALL
            else
              // £££.
              span.self-start.f3.f1-ns £
              span.self-baseline.flex.justify-end.f1.f1-ns(style="font-size: 8.2rem; width: 1.25em") #{ treatment.price.pounds }
              if (treatment.price.pence === '00')
                // Hide Pence.
                span.o-0.self-baseline.f3.f1-ns #{ treatment.price.pence }
              else
                // Show Pence.
                span.self-baseline.f3.f1-ns #{ treatment.price.pence }
